<files .htaccess>
	order allow,deny
	deny from all
</files>

<files .env>
	order allow,deny
	deny from all
</files>

RewriteEngine On
#Si se trata de un archivo existente
RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^html/
RewriteRule ^(.*)$ html/$1