// Bootstrap and its default variables
@import "../../node_modules/bootstrap/scss/bootstrap.scss";


@import "./custom";
.comite {
    section {
        .card_actions {
            .icon {
                width: 9em; 
                height: 9em; 
                line-height: 13em; 
                margin: 0 auto;
                border-radius: 100%;
                border: 1px solid lighten($covid, 40%);
                i {
                    color: darken($covid, 10%);
                }
            }
            .copy {
                min-height: 8.5rem;
            }
        }
    }

    .btn-covid {
        color: white;
        background-color: darken($covid, 10%);
        border-color: $covid;
        &:hover,
        &:focus,
        &:active {
            border-color: lighten($covid, 10%);
            background-color: $covid;
        }
    }
}