// Bootstrap and its default variables
@import "../../node_modules/bootstrap/scss/bootstrap.scss";


@import "./custom";
.comite {
    .card_actions {
        .icon {
            width: 9em; 
            height: 9em; 
            line-height: 14.5em; 
            margin: 0 auto;
            border-radius: 100%;
            border: 1px solid lighten($covid, 40%);
            ion-icon {
                color: lighten($covid, 10%);
                height: 6em;
                width: 6em;
            }
        }
        .copy {
            min-height: 13rem;

            @media (min-width: 992px) { 
                min-height: 11rem;
            }

            @media (max-width: 767px) { 
                min-height: 8.5rem;
            }
        }
    }

}