.preguntas-frecuentes{
  .preguntas{
    list-style: none;
    padding: 0;
    margin-bottom: 50px;
    li{
      margin-bottom: 6px;
    }
  }
  
  .respuestas{
    .respuestas-item{
      &:first-child{
        // background-color: orange;
        padding-top: 30px;
      }
      padding: 50px 0 30px 0;
      border-bottom: 1px solid $gray-300;
      h5{
        color: $covid;
        margin-bottom: 16px;
      }
    }
  }
}
