extends includes/layout.pug
block content
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-light">
            <li class="breadcrumb-item">
                a(href= url_home) Home
            </li>
            <li class="breadcrumb-item active" aria-current="page">Comité Social Permanente</li>
        </ol>
    </nav>
    sec
    <h1>Comité Social Permanente de Río Cuarto</h1>
    <h4>Para asistir en la emergencia sanitaria del Coronavirus (COVID-19)</h4>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas ducimus mollitia corporis ad molestias facilis modi, rerum, libero at eius velit dolor voluptates inventore sint quis assumenda voluptatem labore quibusdam?</p>   