extends includes/layout.pug
block content
    <div class="comite">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-light">
                <li class="breadcrumb-item">
                    a(href= url_home) Home
                </li>
                <li class="breadcrumb-item">
                    a(href= url_comite) Comité Social Permanente
                </li>
                <li class="breadcrumb-item active" aria-current="page">Hacer donaciones</li>
            </ol>
        </nav>
        <br>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfTmNY-AAs5SFeF-RaiO75uh3RHC9kOHaOMLrvUWeff7ECO6Q/viewform?embedded=true" width="100%" height="3528" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>ç
    </div>